{% block element_ict_shop_the_look %}
    {% set config = element.data %}
    {% set lookImage = config.lookImage %}
    {% set hotspots = config.hotspots %}
    {% set layoutStyle = config.layoutStyle ?? 'image-products' %}
    {% set showImage    = layoutStyle in ['image-products', 'products-image', 'only-image'] %}
    {% set showProducts = layoutStyle in ['image-products', 'products-image', 'only-products'] %}
    {% set imageDimension = config.imageDimension ?? '300x300' %}
    {% set imageWidth = config.customWidth ?? 300 %}
    {% set imageHeight = config.customHeight ?? 300 %}
    {% if imageDimension == 'custom' %}
        {% set imageWidth = config.customWidth ?? 300 %}
        {% set imageHeight = config.customHeight ?? 300 %}
    {% elseif imageDimension matches '/^[0-9]+x[0-9]+$/' %}
        {% set imageParts = imageDimension|split('x') %}
        {% set imageWidth = imageParts[0]|default(300) %}
        {% set imageHeight = imageParts[1]|default(300) %}
    {% endif %}

    <div class="cms-element-ict-shop-the-look">
        <div class="shop-the-look-container layout--{{ layoutStyle }}">

            {% block element_ict_shop_the_look_image_section %}
            {% if showImage %}
            <div class="shop-the-look-image-section">
                {% block element_ict_shop_the_look_main_image %}
                {% if not (lookImage and lookImage.mediaUrl) %}
                    <div
                        class="shop-the-look-main-image"
                        style="--shop-the-look-image-width: {{ imageWidth }}px; --shop-the-look-image-height: {{ imageHeight }}px; --stl-img-w: {{ imageWidth }}px; --stl-img-h: {{ imageHeight }}px;"
                    >
                        <img
                            src="{{ asset('bundles/administration/administration/static/img/cms/preview_mountain_large.webp') }}"
                            alt="Shop The Look"
                            class="main-look-image"
                        />
                    </div>
                {% else %}
                    <div
                        class="shop-the-look-main-image"
                        style="--shop-the-look-image-width: {{ imageWidth }}px; --shop-the-look-image-height: {{ imageHeight }}px; --stl-img-w: {{ imageWidth }}px; --stl-img-h: {{ imageHeight }}px;"
                    >
                        <img src="{{ lookImage.mediaUrl }}" alt="Shop The Look" class="main-look-image" />
                        {% block element_ict_shop_the_look_hotspots %}
                        {% if hotspots %}
                            {% for hotspot in hotspots %}
                                {% sw_include '@ICTECHShopTheLook/storefront/element/shop-the-look/_hotspot.html.twig' %}
                            {% endfor %}
                        {% endif %}
                        {% endblock %}
                    </div>
                {% endif %}
                {% endblock %}
            </div>
            {% endif %}
            {% endblock %}

            {% block element_ict_shop_the_look_products_section %}
            {% if showProducts %}
            <div class="{% if layoutStyle == 'only-products' %}shop-the-look-only-products-section{% else %}shop-the-look-products-section{% endif %}">
                {% if hotspots %}
                    {% block element_ict_shop_the_look_products_list %}
                    <div class="products-list">
                        {% for hotspot in hotspots %}
                            {% sw_include '@ICTECHShopTheLook/storefront/element/shop-the-look/_product-item.html.twig' %}
                        {% endfor %}
                    </div>
                    {% endblock %}
                    {% sw_include '@ICTECHShopTheLook/storefront/element/shop-the-look/_add-all-to-cart.html.twig' %}
                {% endif %}
            </div>
            {% endif %}
            {% endblock %}

        </div>
    </div>
{% endblock %}
