{% block element_ict_shop_the_look_product_item %}
<div class="product-item" data-product-id="{{ hotspot.product.id }}">

    {% block element_ict_shop_the_look_product_header %}
    <div class="product-header">
        <div class="product-checkbox">
            <input
                type="checkbox"
                id="product-{{ hotspot.product.id }}"
                class="product-select-checkbox"
                data-product-id="{{ hotspot.product.id }}"
                checked
            />
            <label for="product-{{ hotspot.product.id }}"></label>
        </div>
        <div class="product-basic-info">
            <div class="product-image">
                {% if hotspot.product.cover %}
                    <img src="{{ hotspot.product.cover.media.url }}" alt="{{ hotspot.product.translated.name }}" />
                {% endif %}
            </div>
            <div class="product-details">
                <a href="{{ seoUrl('frontend.detail.page', {'productId': hotspot.product.id}) }}" class="popup-product-link">
                    <h4 class="product-name">{{ hotspot.product.translated.name }}</h4>
                </a>
                {% if config.showPrices and hotspot.formattedPrice %}
                    <div class="product-price">{{ hotspot.formattedPrice }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}

    {% sw_include '@ICTECHShopTheLook/storefront/element/shop-the-look/_product-variants.html.twig' %}

    {% block element_ict_shop_the_look_variant_data %}
    {% if hotspot.variantMappingData and hotspot.variantMappingData|length > 0 %}
        <script type="application/json" class="variant-data" data-product-id="{{ hotspot.product.id }}">
        {
            "parentId": "{{ hotspot.parentProduct.id }}",
            "variants": [
                {% for variant in hotspot.variantMappingData %}
                {
                    "id": "{{ variant.id }}",
                    "name": "{{ variant.name }}",
                    "inStock": {{ variant.inStock ? 'true' : 'false' }},
                    "options": [
                        {% for optionId in variant.options %}
                            "{{ optionId }}"{% if not loop.last %},{% endif %}
                        {% endfor %}
                    ]
                }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
        </script>
    {% endif %}
    {% endblock %}

    {% block element_ict_shop_the_look_add_single_to_cart %}
    {% if config.addSingleProduct %}
        <div class="individual-add-to-cart">
            <form action="{{ path('frontend.checkout.line-item.add') }}" method="post" class="add-to-cart-form" data-add-to-cart="true">
                {% set productToAdd = hotspot.product %}
                {% if hotspot.product.childCount > 0 and hotspot.product.children and hotspot.product.children|length > 0 %}
                    {% set productToAdd = hotspot.product.children.first %}
                {% endif %}
                {% sw_include '@ICTECHShopTheLook/storefront/component/_line-item-inputs.html.twig' with { itemId: productToAdd.id } %}
                {% if productToAdd.options %}
                    {% set optionIds = [] %}
                    {% for option in productToAdd.options %}
                        {% set optionIds = optionIds|merge([option.id]) %}
                    {% endfor %}
                    <input type="hidden" name="lineItems[{{ productToAdd.id }}][payload]" value='{{ {"options": optionIds|reduce((carry, id) => carry|merge({(id): id}), {})}|json_encode }}'>
                {% endif %}
                <input type="hidden" name="redirectTo" value="frontend.cart.offcanvas">
                <input type="hidden" name="redirectParameters" data-redirect-parameters="true" value='{{ {"productId": hotspot.product.id}|json_encode }}'>
                <button type="submit" class="btn btn-outline-primary add-single-to-cart" data-product-id="{{ hotspot.product.id }}">
                    {{ 'shop-the-look.associatedProducts.addToCart'|trans }}
                </button>
            </form>
        </div>
    {% endif %}
    {% endblock %}

</div>
{% endblock %}
